<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxy.uavfilingsystem.mapper.DronetypesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wzxy.uavfilingsystem.entity.Dronetypes">
        <id column="DroneTypeID" property="dronetypeid" />
        <result column="ManufacturerID" property="manufacturerid" />
        <result column="Model" property="model" />
        <result column="RegistrationName" property="productName" />
        <result column="AllowFlight" property="allowFlight" />
        <result column="CreatedAt" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DroneTypeID, ManufacturerID, Model, productName, AllowFlight, CreatedAt
    </sql>

    <select id="pageC" resultType="com.wzxy.uavfilingsystem.entity.Dronetypes">
        select * from dronetypes ${ew.customSqlSegment}
    </select>

    <update id="modAllowflight" parameterType="map">
        UPDATE dronetypes
        SET allowflight = #{allowflight}
        WHERE model = #{model}
    </update>

    <update id="update">
        UPDATE dronetypes
        SET model = #{model}
        WHERE  = #{model} AND productName = #{productName}
    </update>

    <select id="getDroneTypesTotal" resultType="java.lang.Integer">
        select count(*) from dronetypes
    </select>

    <select id="getManufacturerByManufacturerid" resultType="java.lang.String">
        select ManufacturerName from manufacturers where ManufacturerID = #{manufacturerid}
    </select>
</mapper>
