<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxy.uavfilingsystem.mapper.ManufacturersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wzxy.uavfilingsystem.entity.Manufacturers">
        <id column="ManufacturerID" property="manufacturerid" />
        <result column="ManufacturerName" property="manufacturername" />
        <result column="Country" property="country" />
        <result column="Website" property="website" />
        <result column="CreatedAt" property="createdat" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ManufacturerID, ManufacturerName, Country, Website, CreatedAt
    </sql>

    <select id="pageC" resultType="com.wzxy.uavfilingsystem.entity.Manufacturers">
        select * from manufacturers ${ew.customSqlSegment}
    </select>

    <select id="getManufacturerTotal" resultType="java.lang.Integer">
        select count(*) from manufacturers
    </select>
</mapper>
